<header>
    <div class="navbar">
        <h2 class="logotipo"><img src="img/LogoCafe.png" class="logo">Blended Cafe</h2>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/Producto"> Tienda</a></li>
            <li><a href="/crearCuenta"> Login</a></li>
            <li><a href="/miCarrito"> Carrito</a></li>
            <li><a href="/carritoFinal"> Contacto</a></li>
        </ul>
    </div>
</header>