<nav class="navbar">
    <h2 class="logotipo"><img src="img/LogoCafe.png" class="logo">Blended Cafe</h2>
    <ul>
        <li><a href="/"> Home</a></li>
        <li><a href="/Products/list"> Tienda</a></li>
        <% if(!locals.usuario){ %>
            <li><a href="/login"> Login</a></li>    
        <% }else{ %> 
            <h2> Hola ! <%= usuario.name %> </h2>
            <form action="user/logout" method="post">
                <button type="submit" class="Cerrar-seccion">Cerrar Seccion</button>
            </form>
        <% } %> 
        <li><a href="/carritoFinal"> Carrito</a></li>
        <li><a href="#"> Contacto</a></li>
    </ul>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</nav>