<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head.ejs", {title:"agregar-Productos",
  style:"agregar-Productos"}) %>

  <body>
    <main>
      <%- include ("./partials/navbar.ejs") %>
      <div class="titulo-form">
      
      <h1>Agregando un Nuevo Producto</h1>

      <form action="/products/create" enctype="multipart/form-data" method="post">
        <div class="campos">
          <label for="name">Nombre del producto</label>
          <input type="text" name="name" />
        </div>

        <div class="campos">
          <label for="price">Precio</label>
          <input type="text" name="price" />
        </div>

        <div class="campos">
          <label for="description">Descripcion</label>
          <input type="text" name="description" />
        </div>

        <div class="campos">
          <label for="imagen">Cargar Imagen</label>
          <input type="file" name="imagen" />
        </div>

        <button type="submit">Crear</button>
      </form>
    </div>
    </main>
  </body>

  <%- include ("./partials/footer.ejs") %>
</html>
