<!DOCTYPE html>
<html>

<%- include ("./partials/head.ejs", {title:"Producto", style:"listaProductos"}) %>

<body>
    <header>
        <%- include ("./partials/navbar.ejs")%>
    </header>
    <main>
    
                <h2>Descripcion del Producto</h2>
                <p> asdasdasda sdasdasdasda sdasdasdasd asd asd asdad asd asdasdas asdasdas dasdasdasda sdasdas
                    dasdasdas
                    dasda sdasd asd asd asdasdasdasdasd asdasdasdasdasd</p>
            </div>
        </div>
    </main>
    <%- include ("./partials/footer.ejs") %>
</body>

</html>