<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prueba ejs</title>
  </head>
  <body>
    <header>
      <h1>titulo de prueba para ver</h1>
    </header>
    <main>
      <img src="/img/slide-1.jpg" alt="slide" width="400px" />
    </main>
    <footer>
      <h2>copyrigth asdasdasdasdasdasd</h2>
    </footer>
  </body>
</html>
