

body{
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("../img/Fondo-2.jpg");
}



main {
    background-image: url("/img/granos10.jpeg");
    height: 60rem;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


/* MOVIL */
@media (min-width:320px) and (max-width:599px) {

    /* HEADER */
    /* .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .navbar ul li {
        padding: 20px;
    } */

    /* MAIN */
    .seccion {
        display: flex;
        flex-direction: column;
    }

    img:hover {
        transform: none;
    }

    img {
        width: 200%;
    }

    h1 {
        font-size: 3rem;
        padding: 2rem 0rem;
    }

    .seccion1 {
        overflow: inherit;
        display: flex;
        align-items: center;
        height: 16rem;
    }

    .seccion2 {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
}

/* TABLET */
@media (min-width:600px) and (max-width:989px) {

    /* HEADER */
    /* .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .navbar ul li {
        padding: 20px;
    } */

    /* MAIN */
    .seccion {
        display: flex;
        flex-direction: column;
    }

    img:hover {
        transform: none;
    }

    img {
        width: 200%;
    }

    h1 {
        font-size: 3rem;
        padding: 2rem 0rem;
    }

    .seccion1 {
        overflow: inherit;
        display: flex;
        align-items: center;
        height: 16rem;
    }

    .seccion2 {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
}



/* ----------------Footer--------------------------- */

.footer {
    color: #8a8a8a;
    font-size: 16px;
    padding: 0;
}

.footer p {
    color: #fff;
}

.footer h3 {
    color: #c76700;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 0;
}

.footer-col-1 {
    padding: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-col-2 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-col-3,
.footer-col-4 {
    text-align: center;
    padding: 2rem;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #fff;
}

.container {
    background: #33150a;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.footer-col-2 img {
    width: 6rem;
    height: 6rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ----------------Footer--------------------------- */

/* -------------------------MediaQueries--------------------------------- */
@media (max-width: 1440px) {
    .container {
        display: grid;
        grid-template-columns: repeat(min-content, 10rem);
        gap: 3rem;
    }

    .footer-col-3,
    .footer-col-4 {
        padding: 0;
    }
}

/* -------------------------MediaQueries--------------------------------- */